// adding a simple reset to the file since browsers no longer really need a full reset file anymore
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
// adding global relative sizing to simplify media queries later on using rem based on this percentage (default is 16px, 100% is 16, need 10px get 62.5%)
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
.page {
  &__home {
    position: relative;
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  &__about {
    position: relative;
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  &__contact {
    position: relative;
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  &__admin {
    position: relative;
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  &__projects {
    position: relative;
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  &__blog {
    position: relative;
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}
.content {
  &__wrapper {
    @include absCenter;
    height: 85vh;
    width: 93vw;
    background-color: rgba($color: white, $alpha: 0.5);
    padding: 2.5rem 4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      position: fixed;
      width: 1.25rem;
      z-index: 100;
    }
    &::-webkit-scrollbar-track-piece {
      background: transparent;
      border: 4px solid transparent;
      background-clip: content-box;
      margin: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: white;
      height: 5rem;
      width: 5rem;
    }
    @include respond(tab-port) {
      height: 93vh;
      width: 91vw;
    }
    @include respond(phone) {
      height: 90vh !important;
      width: 83vw !important;
    }
    @include respond(phone-small) {
      height: 90vh !important;
      width: 83vw !important;
    }
    @include respond(phone-granny) {
      height: 80vh !important;
      width: 81vw !important;
    }
  }
}
