.page {
  &__home {
    background-image: url("../images/homebg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}
.home {
  padding: 5rem 5rem;
  text-align: center;
  &__header {
    text-align: center;
    &-main {
      font-family: $header-font;
      font-size: 4.5rem;
      color: white;
      letter-spacing: 1.5rem;
      font-weight: 800;
    }
    &-sub {
      font-family: $body-font;
      font-size: 2rem;
      font-weight: 700;
      color: purple;
      background-color: rgba($color: white, $alpha: 0.7);
      padding: 0.5rem 1rem;
      letter-spacing: 1rem;
    }
  }
  &__wrapper {
    margin-top: 30vh;
  }
  &__image {
    height: 20rem;
    width: 20rem;
  }
}
