.frame {
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    100% 25%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    100% 25%,
    100% 100%,
    100% 0%
  );
  background-color: white;
  height: 5rem;
  width: 5rem;
  position: fixed;
  &__top-right {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
    border-right: 12px solid white;
  }
  &__top-left {
    top: 0;
    left: 0;
    margin: 2rem;
  }
  &__bottom-right {
    bottom: 0;
    right: 0;
    margin: 2rem;
    transform: rotate(180deg);
  }
  &__bottom-left {
    bottom: 0;
    left: 0;
    margin: 2rem;
    transform: rotate(270deg);
  }
  &__bottom-center {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0.5rem;
    text-align: center;
    color: white;
    font-family: $body-font;
  }
}
.menu {
  &__list {
    text-decoration: none;
    list-style: none;
    text-align: right;
  }
  &__list-item {
    color: white;
    text-decoration: none;
    font-weight: 60rem;
    font-size: 3rem;
    margin: 0 0 1rem 1rem;
    font-family: $header-font;
    &:last-child {
      margin: 0 0 0 1rem;
    }
    &--link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 1rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          white 50%
        );
        background-size: 320%;
        transition: all 0.5s;
        span {
          margin-right: 1.5rem;
          display: inline-block;
        }
      }
      &:hover,
      &:active {
        background-position: 100%;
        color: purple;
        transform: translateX(1rem);
      }
    }
  }
}
.social {
  &__list {
    &-item {
      width: 4rem;
      height: 4rem;
      background-color: white;
      border-radius: 100%;
      line-height: 4rem;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.5);
        background-color: rgba($color: white, $alpha: 0.8);
      }
      &--link {
        &:link,
        &:visited {
          text-decoration: none;
          color: purple;
        }
      }
      &--icon {
        font-size: 2rem;
        line-height: inherit;
      }
    }
  }
}
.nav {
  z-index: 100;
  position: fixed;
}
